<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("blocks/preloads") %> <%- include("blocks/basicHead") %>
  </head>
  <body>
    <%- include("blocks/titlebar") %>

    <div class="center">
      <div style="text-align: left; width: 400px; max-width: 100%">
        <h1>Archive - <%=archiveDescription%></h1>

        <% data.forEach((d, i)=>{ %>
          <div class="songIndicators inline" data-localstore-id="<%=generateRunID(d)%>">
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
            <p style="margin: 0;">
              <b class="score">00/15</b>
              <a href="/archive/<%=d.date%>/<%=d.mode%>"><%=d.date%></a>
              <%=i == 0 ? "(today!)" : ""%></p>
          </div>
        <% }) %>
      </div>
    </div>

    <script src="/js/archive.js"></script>
  </body>
</html>
