<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("blocks/preloads") %> <%- include("blocks/basicHead") %>

    <link rel="stylesheet" href="/css/game.css" />
    <link rel="stylesheet" href="/css/gameResults.css" />
    <link rel="stylesheet" href="/css/leaderboard.css" />

    <script>
      // Ignore the EJS error. We do this instead of calling the API
      // to save like 200ms. it's SO worth it.
      window.gameData = JSON.parse(<%- JSON.stringify(JSON.stringify(gameData)) %>);
    </script>

    <!-- Preload audio -->
    <link rel="preload" href="/api/audio/base/<%=gameData.tracks[0].audio%>" as="audio" />

    <!-- Preload other content -->
    <link rel="preload" href="/audio/click.ogg" as="audio" />
    <link rel="preload" href="/audio/squee.ogg" as="audio" />
    <link rel="preload" href="/audio/yay.ogg" as="audio" />
    <link rel="preload" href="/api/songData/autocomplete" as="fetch" />

    <% gameData.tracks.forEach((track)=>{ %>
    <link rel="preload" href="/api/songData/thumbnail/<%=track.image%>.jpg" as="image" />
    <% }) %>
  </head>
  <body>
    <%- include("blocks/loader/html") %> <%- include("blocks/loader/script") %>
    <%- include("blocks/titlebar") %>

    <div class="center gameArea" style="">
      <div class="songIndicators">
        <p style="margin: 0;margin-right: 1rem;"><%=gameData.copyDescription%></p>
        <% for(i = 0; i < (gameData.amountOverride || 5); i++) { %>
        <div class="grey indicator"></div>
        <% } %>
      </div>

      <h3 class="lyric" style="display: none;">Lyric</h3>
      <div class="art" style="display: none;">
        <img>
      </div>

      <div class="waveform" style="display: none;">
        <img>
      </div>

      <%- include("blocks/game/songGuessWrapper") %>

      <div class="roundEnd center">
        <div class="finishedSong">
          <img/>
          <div class="data">
            <h2>ANTONYMPH</h2>
            <p>CUTIEMARKS (And the things that bind us)</p>
            <a href="" target="_blank">Bandcamp</a>
          </div>
        </div>

        <button class="nextButton shinyButton blueButton">next</button>
      </div>
    </div>

    <div class="fullEnd <%=locals.lb && 'lbContainer' || ''%>"  style="display: none;">
      <!-- Leaderboard container -->

      <div class="center <%=locals.lb && 'lbLeft' || ''%>">
        <!-- Results -->
        <h1>Your results</h1>
        <p style="margin: 0;"><%=gameData.copyDescription%></p>
        <p style="margin: 0;" class="winStreak">5/5 streak: 0</p>
        <div class="resultsList">
          <% for(let i = 0; i < 5; i++) { %>
          <div class="result">
            <img>
            <p><a target="_blank">N/A</a></p>
            <div class="indicators">
              <div class="indicator"></div>
              <div class="indicator"></div>
              <div class="indicator"></div>
            </div>
          </div>
          <% } %>
        </div>

        <div class="score">
          <div>
            <h3 class="correctValue">0/5</h3>
            <p>Correct</p>
          </div>
          <div>
            <h3 class="scoreValue">0/15</h3>
            <p>Score</p>
          </div>
          <div>
            <h3 class="gradeValue">F</h3>
            <p>Grade</p>
          </div>
        </div>

        <div class="buttonArray">
          <button class="shareButton shinyButton blueButton">share</button>
          <% if(!gameData.daily) { %>
            <button class="shinyButton" onclick="window.location.reload()">again!!</button>
          <% } %>
          <button class="vyletMode shinyButton blueButton" style="display: none;">VYLET MODE???1</button>
          <button class="shinyButton homeButton">home</button>
        </div>

        <p class="copiedToClipboard">copied to clipboard!!</p>
      </div>

      <!-- Leaderboard -->
      <% if(locals.lb) { %>
        <%- include("blocks/leaderboard") %>
      <% } %>
    </div>

    <!-- Circles things -->

    <div class="center circleFail" style="display: none;">
      <h1>You failed.</h1>
      <p class="toPass">To pass text here.</p>
      <button class="shinyButton blueButton">Retry</button>
    </div>
    
    <div class="center circlePass" style="display: none;">
      <h1>Congratulations!.</h1>
      <p>you did it. hip hip hooray!!!</p>
      <button class="shinyButton blueButton">Next circle</button>
    </div>

    <!-- Scripts -->

    <script src="/js/minisearch.js"></script>
    <script src="/js/game.js"></script>
    <script src="/js/gameUI.js"></script>
    <script src="/js/confetti.js"></script>
  </body>
</html>
