<h2>Tracks (<%=Object.keys(tracks).length%>)</h2>

<% tracks = tracks.sort((a,b)=>a.album.localeCompare(b.album)) %>
<% let currentAlbum = ``, albumN = 0 %>
<% tracks.forEach((track)=>{ %>
  <% if(currentAlbum != track.album) { %>
    <% currentAlbum = track.album; albumN = 0; %>
    <h3>> <%=track.album%></h3>
  <% } %>

  <% albumN++ %>

  <% if(track.url.includes("vyletpony")) { %>
  <p><%=albumN%>. <a href="<%=track.url%>" target="_blank"><%=track.title%></a><br></p>
  <% } else { %>
    <p><%=albumN%>. <a href="https://vyletpony.bandcamp.com<%=track.url%>" target="_blank"><%=track.title%></a><br></p>
  <% } %>
<% }) %>
